@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Overpass:wght@400;700&family=Poppins:wght@200;300;500;600&display=swap');


*{
    // box-sizing: border-box;
    padding: 0;
    margin:0;
}

body{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background:   hsl(212, 45%, 89%)
}

.container{
    margin :90px 532px;
    padding: 1rem 1rem;
    text-align: center;
    background:  hsl(0, 0%, 100%);
    border-radius: 1rem;

}

img{
   width: 250px;
   border-radius: 1rem;
}


.heading{
    font-size: 20px;
    font-weight: 700;
    margin: 1rem;
 
    color: hsl(218, 44%, 22%);
}
.para{
    font-size: 14px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 1rem;
  
    }

    @media only screen and (max-width:375px) {
        .container{
            margin: 100px auto;
            width: 270px;
        }      
}
    @media only screen and (max-width:1440px) {
        .container{
            margin: 100px auto;
            width: 270px;
        }      
}